name: Publish to PyPI

on:
  push:
    branches:
      - master
    tags:
      - "v*" # Only run when a tag like v1.0.0 is pushed to master

jobs:
  build-and-publish:
    runs-on: ubuntu-latest

    steps:
      - name: Check out source
        uses: actions/checkout@v5.0.1

        with:
          fetch-depth: 0 # Important: needed to fetch tags

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.11"

      - name: Install build tools
        run: |
          python -m pip install --upgrade pip
          pip install build twine

      - name: Build package
        run: python -m build

      - name: Publish to PyPI
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.PYPI_API_TOKEN }}
        run: twine upload dist/*
